
@model FormAuth.Models.Product


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detail.RRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail.RRP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail.Supplier)
        </dd>
    </dl>
</div>
